<div class="departures-board-wrapper">
  <div class="bus-stop stop-name">
    <h2>{{ busStopName }}</h2>
  </div>
  <div *ngFor="let departure of departuresBoardListings; let i = index" class="bus-stop departure-listing">
    <h3 class="bus-service">{{ departure.service }}</h3>
    <div class="bus-destination">
      <h3 class="destination-name">{{ departure.destination }}</h3>
      <div class="timetable-popup">
        <a
          (click)="handleLeftClick(departure)"
          [routerLink]="['./timetable/' + departure.service + '/' + departure.destination + '/' + departure.departureTime]">
          {{ departure.linkText }}
        </a>
      </div>
    </div>
    <h3 class="bus-depart-time">{{ departure.departureTime }}</h3>
  </div>
</div>