<div class="departures-board-wrapper">
  <div class="bus-stop stop-name">
    <h2>{{ busStopName }}</h2>
  </div>
  <div *ngFor="let departure of departuresBoardListings; let i = index" class="bus-stop departure-listing">
    <h3 class="bus-service">{{ departure.service }}</h3>
    <span class="bus-destination">
      <h3 class="destination-name">{{ departure.destination }}</h3>
      <span class="timetable-popup" (click)="handleLeftClick(departure)">
        <a
          [routerLink]="['./timetable/', departure.service + '_' + departure.destination + '_' + departure.departureTime]">
          {{ departure.linkText }}
        </a>
      </span>
    </span>
    <h3 class="bus-depart-time">{{ departure.departureTime }}</h3>
  </div>
</div>