<main class="main-content">
  <div class="map-wrapper">
    <google-map [options]="options" (mapClick)="handleClick($event)" [height]="height" [width]="width">
      <map-transit-layer></map-transit-layer>
    </google-map>
  </div>
  <div class="departures-board-wrapper">
    <div class="bus-stop stop-name">
      <h2 *ngIf="busStopName">{{ busStopName }}</h2>
      <h2 *ngIf="!busStopName">Click the map to show live departures for the closest bus stop.</h2>
    </div>
    <div *ngFor="let departure of departuresBoardListings; let i = index" class="bus-stop departure-listing">
      <h3>{{ departure.service }}</h3>
      <h3>{{ departure.destination }}</h3>
      <h3>{{ departure.departureTime }}</h3>
    </div>
  </div>
</main>