<app-header (searchBoxToggled)="toggleSearching()" [searchIcon]="searchIcon()"></app-header>
<main class="main-content">
  <app-map [mapCenter]="searchResult" (mapLeftClick)="getMapLeftClickData($event)"></app-map>
  <app-search-box *ngIf="this.searchBoxOpen" [searchLocation]="searchLocation"
    (formSubmit)="findSearchLocationOnMap($event)">
  </app-search-box>
  <app-departures-listings [departuresBoardListings]="departuresBoardListings" [busStopName]="busStopName">
  </app-departures-listings>
</main>