<div class="search-box-wrapper">
  <!-- <div class="search-box-control">
    <p class="toggle-search-icon" (click)="this.toggleSearching()">{{ searchIcon() }}</p>
  </div> -->
  <form [formGroup]="searchLocationForm" (ngSubmit)="onSubmit($event)" class="search-box-form">
    <div class="search-box-field">
      <div class="search-box-invalid">
        <h5 *ngIf="searchLocation.invalid">Type a place name to get going...</h5>
      </div>
      <input #pacInput id="pac-input" type="text" formControlName="searchLocation">
    </div>
    <div class="search-box-heading">
      <p>Search for bus stops near:</p>
      <h3>{{ currentLocation.value }}</h3>
    </div>
    <input class="search-box-reset-button" type="button" value="⟲" (click)="resetSearchLocation()" />
  </form>
</div>