<div class="search-box-wrapper">
  <form [formGroup]="searchLocationForm" class="search-box-form" (ngSubmit)="onSubmit()">
    <div class="search-box-field">
      <div class="search-box-invalid">
        <h5 *ngIf="searchLocation.invalid">Type a place name to get going...</h5>
      </div>
      <input #pacInput id="pac-input" type="text" formControlName="searchLocation">
    </div>
    <div class="search-box-heading">
      <div>
        <p *ngIf="searchLocation.valid">Search for bus stops near:</p>
      </div>
      <div>
        <h3>{{ currentLocation.value }}</h3>
      </div>
      <input *ngIf="searchLocation.valid" type="button" value="Reset" class="search-box-reset-button"
        (click)="resetSearchLocation()">
      <button class="search-box-submit-button"
        [class.valid]="searchLocation.valid && autocompleteObject.getPlace().geometry"
        [disabled]="searchLocationForm.invalid || !autocompleteObject.getPlace().geometry" type="submit">🔎︎</button>
    </div>
  </form>
</div>