/* You can add global styles to this file, and also import other style files */
@import "./variables.module";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(#ffa50033, #ffa50033), linear-gradient(#ffffffdd, #ffffffdd),
    url("assets/images/background.jpg");
  min-height: 100vh;
  width: 100vw;
}

app-header {
  @include display_flex_row;
  top: 0;
  left: 0;
  height: 12vh;
  width: 100vw;
  background-color: $busgrey;
  border-bottom: 10px solid $busred;

  .app-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center;

    .omnibus-logo {
      height: 10vh;
    }

    h1 {
      margin: auto;
    }
  }

  .white {
    color: white;
  }

  .red {
    color: $busred;
  }
}

app-main {
  width: 100%;
  height: 88vh;

  .main-content {
    height: 100%;
  }
}

.map-wrapper,
.departures-board-wrapper {
  position: relative;
  width: 80%;
  margin: 5vh 10%;
  height: 35vh;
  box-shadow: $primary-shadow;
}

.departures-board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  background-color: #00000088;
}

.bus-stop {
  margin: 2% 0 0;
}

.stop-name {
  color: white;
  text-align: center;
}

.departure-listing {
  @include display_flex_row;
  justify-content: space-between;
  width: 80%;

  h3 {
    font-family: unibody;
    color: orange;
    width: 100%;
  }
}
