// Imports

@use "./variables";

// Reset ---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(#ffa50033, #ffa50033), linear-gradient(#ffffffdd, #ffffffdd),
    url("assets/images/background.jpg");
  min-height: 100vh;
}
// --reset--- //

// Header ---

app-header {
  .app-header {
    padding: 1vh;
    @include variables.display_flex_row;
    align-items: flex-start;
    top: 0;
    left: 0;
    height: 12vh;
    width: 100%;
    background-color: variables.$busgrey;
    border-bottom: 2vh solid variables.$busred;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center;

    .omnibus-logo {
      display: grid;
      place-items: left;

      > img {
        width: 8vh;
      }
    }

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8vh;
      line-height: 8vh;

      > * {
        white-space: pre-wrap;
      }
    }
  }

  .white {
    color: white;
  }

  .red {
    color: variables.$busred;
  }

  .orange {
    color: orange;
  }
}

// --header--- //

// Main --- //
app-main {
  width: 100%;
  height: 88vh;

  .main-content {
    height: 100%;
  }
}

// --main--- //

// Search Box --- //

.search-box-control {
  display: grid;
  place-items: center;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  color: orange;

  .toggle-search-icon {
    font-size: 3em;

    &:hover {
      cursor: pointer;
    }
  }
}

.search-box-wrapper {
  position: fixed;
  top: 14vh;
  right: 5vw;
  z-index: 1;
  font-size: 1.4em;
  width: 90vw;

  .search-box-form {
    animation: fadein 0.5s 1;
    background-color: #ffffffbb;
    padding: 2%;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: variables.$primary-shadow;

    .search-box-field {
      display: grid;
      place-items: end start;
      width: 100%;
      height: 100%;

      > input {
        outline: none;
        border: none;
        box-shadow: variables.$soft-shadow;
        width: 80%;
        height: 30%;
        font-size: 1.2em;
        padding: 10% 6%;
      }
    }

    .search-box-heading {
      display: grid;
      place-items: start;
      padding: 2%;
      grid-template-rows: 1fr 4fr;
      width: 100%;
      height: 100%;

      > p {
        width: 100%;
        text-align: left;
        overflow: hidden;
      }
    }

    .search-box-reset-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      outline: none;
      border: none;
      background-color: #ffa500;
      color: #212121;

      &:hover {
        background-color: #d18800;
      }
    }
  }
}

// --searchbox--- //

// Map ---/

#map {
  position: relative;
  width: 80%;
  margin: 5vh 10%;
  height: 35vh;
  box-shadow: variables.$primary-shadow;
  background-color: variables.$busblack;
}

div.gm-style-cc[draggable="false"] {
  display: none;
}

img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"], img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"]
{
  display: none;
}

// --map--- //

// Departures Listings --- //

.departures-board-wrapper {
  position: relative;
  width: 80%;
  margin: 5vh 10%;
  height: 35vh;
  box-shadow: variables.$primary-shadow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  background-color: #212121;
  overflow: auto;
}

.bus-stop {
  margin: 2% 0 0;
}

.stop-name {
  color: white;
  text-align: center;
}

.departure-listing {
  @include variables.display_flex_row;
  justify-content: space-between;
  width: 80%;

  h3 {
    font-family: unibody;
    color: orange;
    text-align: left;

    &.bus-service {
      width: 20%;
    }

    &.bus-destination {
      width: 100%;
    }

    &.bus-depart-time {
      width: 20%;
      text-align: right;
    }
  }
}

// --departures-listings--- //
